@media (prefers-color-scheme: light) {
  :root {
    --background-text-color: #ff8dcb;
    --main-color: #353430;
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --title-section-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
    --theme-hidn-rec: none;
    --theme-hidn: none;
    --bg-clr: #fff1f7;
    --button-clr: rgb(53, 52, 48, 0.4);
  }
}

.page.theme_light {
  --background-text-color: #ff8dcb;
  --main-color: #353430;
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --title-section-color: #353430;
  --bg-img: url(../images/cover-image-light.png);
  --theme-hidn-rec: none;
  --theme-hidn: none;
  --bg-clr: #fff1f7;
  --button-clr: rgb(53, 52, 48, 0.4);
}
