.page {
  background-size: cover;
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.corner-decor {
}

.header {
  min-block-size: 768px;
  min-inline-size: 1024px;
  display: grid;
}

.header_rec {
}

.header_rec::before {
  content: "rec";
  position: absolute;
  color: var(--title-section-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  inset-inline-end: 28px;
  inset-block-start: 2px;
}

.header_rec::after {
  width: 20px;
  height: 20px;
  background-color: var(--title-section-color);
  border-radius: 50%;
}

.header-cover {
  z-index: -1;
}

.header_container_title {
  text-align: start;
  margin-block-start: 3%;
}

.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: inherit;
  font-weight: 700;
  line-height: 129.53px;
  color: var(--title-color);
  text-shadow: 4px 4px var(--title-shadow);
  display: flex;
  flex-wrap: wrap;
}

.header_containter_title-text {
  text-align: start;
  min-inline-size: 491px;
  min-block-size: 70px;
}

.header_title-text {
  background-color: var(--background-text-color);
  color: var(--accent-color);
  font-weight: 700;
  font-size: inherit;
}

.decorated-zone {
}

.title-decor {
}

.header__theme-menu {
  margin: auto;
}

.header__theme-menu-list {
  display: flex;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  color: var(--title-section-color);
  border: none;
  padding: 0px 13px 0px 13px;
}

.header__theme-menu-button_type_light {
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--title-section-color);
}

.header__theme-menu-button_type_auto {
}

.header__theme-menu-button_type_dark {
}

.main {
}

.section-one {
  margin-block-start: 5.5%;
  min-block-size: 508px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 300px);
  grid-template-columns: 315px 660px;
  gap: 20px;
}

.container_title-section-one {
  grid-area: "title";
}

.title_section {
  color: var(--title-section-color);
  font-weight: 700;
}

.container-text {
  grid-area: "text";
  grid-column-start: 2;
}

.title_text {
  color: var(--accent-color);
  background-color: var(--background-text-color);
  font-weight: 700;
}

.text {
  color: var(--main-color);
  font-weight: 400;
}

.section-two {
  display: grid;
  min-block-size: 498px;
  grid-template-columns: repeat(3,315px);
  grid-template-rows: 47px 431px;
  gap: 20px;
}

.section-two_container-title {
  grid-column-start: 1;
  grid-row-start: 1;
}

.section-two_container-text-one {
  grid-row-start: 2;
  grid-column-start: 1;
}

.section-two_container-text-two {
  grid-row-start: 2;
  grid-column-start: 2;
}

.section-two_container-text-three {
  grid-row-start: 2;
  grid-column-start: 3;
}

.section-three {
  display: grid;
  grid-template-columns: 335px 649px;
  grid-template-rows: 23px 244px 150px 197px 151px 150px;
  min-block-size: 1115px;
  gap: 20px;
}

.section-three_conteiner-title {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.section-three_title {
 line-height: ;
}

.section-three_title-text{
font-weight: 400;
}

.section-three_text-title {
  grid-column-start: 2;
}

.section-three_conteiner-one {
  grid-column-start: 2;
}

.section-three_conteiner-two {
  grid-column-start: 2;
}

.section-three_conteiner-three {
  grid-column-start: 2;
}

.section-three_conteiner-four {
  grid-column-start: 2;
}

.section-three_conteiner-five {
  grid-column-start: 2;
}

.section-four {
  margin-block-start: ;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 323px);
  grid-template-rows: 20px 250px 300px 400px ;
  min-block-size: 1091px;
}

.section-four_title {
grid-row-start: 1;
grid-column-start: 1;
grid-column-end: span 3;
}

.image {
  width: 100%;
  height: 100%;
}

.container-image {
}

.container-image-1 {
  width: 649px;
  height: 260px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 2;
  grid-row-end: 2;
}

.container-image-2 {
  width: 315px;
  height: 595px;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 2;
}

.container-image-3 {
  width: 315px;
  height: 768px;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 1;
  grid-row-end: 3;
}

.container-image-4 {
  width: 315px;
  height: 315px;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 3;
}

.container-image-5 {
  width: 649px;
  height: 428px;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 4;
}

.footer {
  margin-block-start: ;
  min-block-size: 768px;
  display: flex;
}

.container_footer_title {
  margin: auto;
}

.footer_title {
  color: var(--title-color);
  text-shadow: 1px 1px var(--title-shadow);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 130px;
  font-family: inherit;
}

@media (width:375px) {
  .header_title {
    font-size: (7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    display: flex;
    flex-wrap: wrap;

  }

  .footer_title {
    font-size: (7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width:668px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
}
