:root {
  /* для темной темы*/
  --background-text-color: #ff0070;
  --main-color: #f1b2ce;
  --accent-color: #000028;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --title-section-color: #ff0070;
  --bg-img: url(../images/cover-image-dark.png);
  --theme-hidn-rec: 'REC';
  --theme-hidn: '';
}
